/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;

}

body {
    padding-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    padding-bottom: 0px;
}

/* ##################### */
/* Estilos del header */
/* ##################### */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

/* Estilos del logo */
header #logo {
    width: auto;
    height: 100px;
    zoom: 0.5;
    align-self: center;
    justify-self: center;
}

/* Estilos del nav */
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    align-items: center;
}

header nav ul li {
    padding: 0px 0px;
    margin: 5px 5px;
}

/* Estilos de los enlaces */
header nav ul li a {
    text-decoration: none;
    padding: 0px 0px;
}

/* Estilos del boton */
header nav ul li button {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
}

/* ##################### */
/* Estilos del main */
/* ##################### */

/* ########### PRODUCT DETAIL SECTION ########### */

/* Estilos de la seccion de detalle del producto */
#product-image {
    margin-top: 40px;
    width: 500px;
    height: 400px;
}

/* Estilos de la seccion de detalle del producto */
.product-detail-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    margin-top: 30px;
}

/* Estilos del titlo de oferta */
#offer-title {
    color: #ff0000;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Estilos del parrafo */
.product-detail-info p {
    margin-right: 60px;
    padding-bottom: 0px;
    text-align: justify;
}

/* Estilos de la seccion de acciones */
.product-detail-actions {
    display: flex;
    gap: 15px;
    flex-direction: row;
}

.product-detail-actions #buy-button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #002fff;
    color: #ffffff;
    padding: 10px 20px;
}

/* Estilos de la seccion de detalles del producto */
.product-detail-gallery ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

/* Estilos de la lista */
.product-detail-gallery ul li {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
}

/* Estilos de la imagen */
.product-detail-gallery img {
    width: 55px;
    height: 55px;
}

/* ########### RECOMENDED PRODUCTS SECTION ########### */

.recomended-products {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-direction: row;
    padding: 10px;
}

.recomended-products article {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 20px;
    padding: 20px;
}

.recomended-products img {
    width: 200px;
    height: 200px;

}

.recomended-products article img {
    display: block;
    margin: 0 auto;
}

.recomended-products article button {
    margin-top: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #002fff;
    color: #ffffff;
    padding: 10px 20px;
}

/* ########### CALL TO ACTION SECTION ########### */

/* formateo general */
.call-to-action-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    border: 1px solid rgb(0, 226, 226);
    border-radius: 20px;
    background-color: #a0e4ff;
}

/* formateo call-to-action-info izquierda*/
.call-to-action-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: justify;
    padding-right: 120px;
}

/* formateo call-to-action-info izquierda titulo*/
.call-to-action-info h2 {
    margin-top: 0px;
    font-size: 40px;
}

/* formateo call-to-action-info izquierda parrafo*/
.call-to-action-info p {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* formateo de call-to-action-inputs */
.call-to-action-inputs {
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: justify;
    padding-right: 120px;
}

/* formateo call-to-action-inputs parrafo*/
.call-to-action-inputs p {
    margin-top: 0px;
}

/* formateo call-to-action-inputs input*/
.call-to-action-inputs input {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px 20px;
}

/* formateo call-to-action-inputs boton*/
.call-to-action-inputs button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #002fff;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 25px;
}


/* ##################### */
/* Estilos del footer */
/* ##################### */

footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-bottom: 0px;

}

footer img {
    width: auto;
    height: 100px;
    zoom: 0.5;
    padding-bottom: 10px;

}

.footer-info {
    padding-bottom: 0px;
}

/* ##################### */
/* Responsive Styles */
/* ##################### */

/* General Image Responsiveness */
img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {

    /* Header */
    header {
        position: relative;
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    header #logo {
        height: 80px;
        margin-bottom: 10px;
    }

    header nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    /* Product Detail Section */
    .product-detail-section {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    #product-image {
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .product-detail-info {
        width: 100%;
    }

    .product-detail-info p {
        margin-right: 0;
    }

    .product-detail-actions {
        justify-content: center;
        /* Center buttons on mobile */
        margin-bottom: 20px;
    }

    .product-detail-gallery ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    /* Recommended Products Section */
    .recomended-products {
        flex-direction: column;
        align-items: center;
    }

    .recomended-products article {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    /* Call to Action Section */
    .call-to-action-section {
        flex-direction: column;
    }

    .call-to-action-info {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .call-to-action-inputs {
        padding-right: 0;
        width: 100%;
    }

    .call-to-action-inputs input {
        width: 100%;
    }
}